::-webkit-scrollbar {
  width: 1px;
}

.todo__list {
  color: black;
  overflow-y: hidden;
  margin: 2vw;
  width: 250px;
  max-width: 250px;
  max-height: 75vh;
  background: rgba(19, 80, 88, 0.5);
  border-radius: 20px;
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.78);
  padding: 10px;
}

.list__todos {
  max-height: 70vh;
  overflow-y: scroll;
}

.list__header {
  background-color: black;
  border-radius: 20px;
  padding: 5px;
  align-items: center;
  text-align: center;
  color: white;
  font-size: x-large;
}

.list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__iconButton {
  color: white !important;
  border: none !important;
  background-color: black !important;
}

.hide {
  display: none;
}

.edit__header {
  position: absolute;
  top: 50%;
  height: 45vh;
  width: 20vw;
  background-color: white;
  border: 2px solid black;
}

.headerEdit__submit {
  display: none;
}
.dontEdit {
  display: none !important;
}
.header__input {
  height: 100%;
  width: 100%;
  border: none;
  outline-width: 0;
  background-color: black;
  color: white;
  font-size: x-large;
}

.add__todo {
  height: 2vh;
  background-color: black;
  margin-top: 15px;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.add__todo:hover {
  cursor: pointer;
  background-color: darkgray;
  margin-top: 15px;
  border-radius: 20px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.add__todoBox {
  position: fixed;
  width: 500px;
  height: 300px;
  background-color: rgba(19, 80, 88, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}

.add__overlay {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.add__header {
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.add__header > p {
  font-size: 30px;
  color: white;
}
.header__closeIcon {
  background-color: black !important;
  border: none !important;
  color: white !important;
}
.add__body {
  color: white;
  padding: 20px;
}
.add__labels {
  font-size: 25px;
}

.add__inputs {
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
  outline-width: 0;
  border: none;
  border-bottom: 1px solid white;
  background-color: rgba(19, 80, 88, 1);
  color: white;
}
.add__footer {
  display: flex;
  justify-content: center;
  background-color: rgba(19, 80, 88, 1);
}
.add__submit {
  width: 250px;
  height: 50px;
  margin-top: 20px;
  font-size: 25px;
  background-color: rgba(241, 242, 181, 1);
  color: black;
  border: none;
  border-radius: 20px;
  outline-width: 0;
}

.add__stageSelection {
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  display: flex;
}

.add__stageSelect {
  color: black;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}

.emergency {
  background-color: orangered;
  color: white;
}

.hide {
  display: none;
}
